*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    background:#141414;

    color:#f5ad42;

    font-family:'Montserrat', sans-serif;

    display:flex;

    justify-content:center;

    align-items:center;

    min-height:100vh;
}

.container{

    width:90%;

    max-width:650px;

    text-align:center;
}

h1{

    font-size:42px;

    font-weight:800;

    letter-spacing:2px;

    margin-bottom:15px;
}

.subtitle{

    color:#9A9A9A;

    margin-bottom:50px;

    font-size:20px;
}

#citySubtitle {
    margin-top: -22px;
}

.display{

    width:100%;
    max-width:600px;

    background:#343433;

    border-radius:110px;

    padding:10px;

    margin:0 auto 80px;

    border:1px solid #333;

    min-height:160px;

    display:flex;

    justify-content:center;

    align-items:center;

    box-shadow:0 0 25px rgba(0,0,0,.35);

}

.winnerArrow{

    width:0;
    height:0;

    border-top:24px solid transparent;
    border-bottom:24px solid transparent;

}
.winnerArrow.left{

    border-right:32px solid #1d1d1de2;

}
.winnerArrow.right{

    border-left:32px solid #1d1d1de2;

}

#resultat{

    color:#D4AF37;

    font-size:42px;

    font-weight:700;
}

button{

    width:100%;

    background:#D4AF37;

    color:#141414;

    border:none;

    border-radius:16px;

    padding:22px;

    font-size:24px;

    font-weight:bold;

    cursor:pointer;

    opacity:1;

    transition:
        opacity .20s,
        transform .15s,
        box-shadow .15s;

}

button:hover{

    transform:translateY(-3px);

    box-shadow:0 12px 25px rgba(212,175,55,.25);
}

.buttonHidden{

    opacity:0;

    pointer-events:none;

    transition:opacity .35s ease;

}

#randomButton{

    transition:opacity .35s ease;
    margin-bottom: 40px;

}

#menuButton{

    display: none;

/*    position:fixed;

    top:0;
    left:0;

    width:100%;

    height:85px;

    background:#111;

    box-shadow:0 3px 10px rgba(0,0,0,.35);

    display:flex;
    align-items:center;

    padding-left:25px;

    box-sizing:border-box;

    font-size:35px;

    cursor:pointer;

    z-index:1000; */

}

#menuButton.hidden{
    display: none;
}

#sideMenu{

    position:fixed;

    top:0;

    left:-300px;

    width:200px;

    max-width:80%;

    height:100vh;

    background:#1d1d1d;

    padding:75px 30px 30px 30px;

    transition:left .3s;

    box-shadow:8px 0 20px rgba(0,0,0,.4);

    z-index:1300;

    overflow: hidden;
}

#sideMenu.open{

    left:0;
}

#closeButton{

    position:absolute;

    top:25px;

    right:25px;

    font-size:30px;

    cursor:pointer;
}

#sideMenu ul{

    list-style:none;
}

#sideMenu li{

    padding:18px 0;

    cursor:pointer;

    border-bottom:1px solid #333;
}

#overlay{

    position:fixed;

    top:0;

    left:0;

    width:100%;

    height:100%;

    background:rgba(0,0,0,.45);

    opacity:0;

    visibility:hidden;

    transition:.3s;

    z-index:1250;
}

#overlay.open{

    opacity:1;

    visibility:visible;
}



/* ===============================
   BOTTOM NAVIGATION
================================ */

#bottomNav {

    position: fixed;

    bottom: 0px;
    left: 0;

    width: 100%;
    height: 75px;

    background: #1d1d1d;

    display: flex;
    justify-content: space-around;
    align-items: center;

    z-index: 1200;

    box-sizing: border-box;

    border-top: 1px solid #333;
}

#bottomNav > div {

    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 28px;

    color: #999;

    cursor: pointer;

    height: 100%;
}

/* ===============================
   Views
================================ */

#filterView{

    background:#121212;

}


#homeView{

    display:flex;
    justify-content:center;
    align-items:center;


}


.view{

    position: fixed;

    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;

    overflow-y: auto;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.view.active{

    opacity: 1;

    visibility: visible;

    pointer-events: auto;

}

.pageContent {
    max-width: 650px;
    margin: 0 auto;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
}

/* ===============================
   Page Header
================================ */

.pageHeader{

    max-width:650px;

    margin:40px auto 50px auto;

    padding:0 0 0;

}

.pageHeader h1{

    font-size:34px;

    font-weight:800;

    line-height:1.1;

    margin-bottom:12px;

}

.pageHeader .subtitle{

    color:#9A9A9A;

    font-size:20px;

    margin:0;

}


/* ===============================
   Filter Category Card
================================ */

.filterCard{

    background:#232323;

    border:1px solid rgba(255,255,255,.05);

    border-radius:20px;

    padding:30px;

    box-shadow:0 0 25px rgba(0,0,0,.35);

    margin-bottom: 16px;
}

.filterCard h3{

    font-size:18px;

    margin-bottom:20px;

}

.filterCard label{

    display:flex;

    align-items:center;

    gap:12px;

    padding:10px 0;

    cursor:pointer;

    font-size:18px;

}

.filterCard input[type="checkbox"]{

    width:20px;

    height:20px;

    cursor:pointer;

}

.filterCard.disabled {

    opacity: 0.3;
    pointer-events: none;

}


/* ===============================
         SEARCH INPUT
================================ */

.searchInput {
    width: 100%;
    padding: 12px 16px;
    margin-top: 20px;

    font-size: 16px;
    font-family: inherit;

    border: 1px solid #ccc;
    border-radius: 10px;

    background: white;
    color: #222;

    box-sizing: border-box;
}

.searchInput:focus {
    outline: none;
    border-color: #4CAF50;
}

.searchResult {

    padding: 8px 14px;
    margin-top: 8px;

    background: #2b2b2b;

    border-radius: 10px;

    color: white;

    font-size: 14px;

    cursor: pointer;

    transition: background .15s;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.searchResult:hover {

    background: #3a3a3a;

}

#favoritesView .searchInput {

    padding: 9px 14px;

    margin-top: 12px;

    font-size: 15px;

}


/* ===============================
        FAVORITER
================================ */

.removeFavoriteButton {
    background: none;
    border: none;

    width: auto;
    height: auto;

    padding: 0;
    margin: 0;

    flex: 0 0 auto;

    font-size: 1.4rem;
    color: rgb(151, 30, 30);
    cursor: pointer;
}

.favoritesTitle {

    margin-top: 35px;

    margin-bottom: 16px;

    font-size: 18px;

}

.favoritesTabs {

    display: flex;

    align-items: center;

    justify-content: space-between;

    margin-bottom: 15px;

}

.favoritesTab {

    font-size: 26px;

    font-weight: 700;

    color: #777;

    cursor: pointer;

}

.favoritesTab.active {

    color: #f5ae35;

}

#favoritesView .subtitle {
    font-size: 14px;
}


/* ===============================
        HISTORIK
================================ */

#historyContent {
    display: none;
}

#historyContent .subtitle {
    text-align: right;
}

.historyFavoriteButton {

    background: none;
    border: none;

    width: auto !important;
    height: auto !important;

    flex: 0 0 auto !important;

    padding: 0 !important;
    margin: 0 !important;

    display: inline-block !important;

    font-size: 24px;

}


.backButton{

    width:auto;

    padding:0;

    margin-bottom:24px;

    background:none;

    border:none;

    color:#D4AF37;

    font-size:18px;

    font-weight:bold;

    cursor:pointer;

}

.clickable{

    cursor:default;

    user-select:none;

    transition:color .2s;

}

.clickable:hover{

    color:#f0c84b;

}

@keyframes winnerFlash {

    0%{

        text-shadow:
            0 0 0px rgba(255,255,255,.9);

    }

    40%{

        text-shadow:
            0 0 10px rgba(255,235,170,.95),
            0 0 20px rgba(212,175,55,.6),
            0 0 35px rgba(255,255,255,.4);

    }

    100%{

        text-shadow:
            0 0 0px rgba(255,255,255,0);

    }

}

.winnerFlash{

    animation:winnerFlash .85s ease-out;

}



/* ===============================
        RESTAURANGKORTET
================================ */

#venueView .pageContent{

    padding-top:0;

}
#venueFavoriteButton{

    background:none;
    border:none;

    width:auto;
    height:auto;

    padding:0;
    margin:0;

    font-size:24px;

    cursor:pointer;

}

.venueFavoriteRow{

    display:flex;

    justify-content:flex-end;

}

#venueTitle{

    text-shadow:
        0 1px 10px rgba(255,255,255,.08);

    overflow-wrap: anywhere;
    line-height: 1.1;
    max-width: 100%;
}

.infoRow{

    margin-bottom:24px;

}

.infoRow:last-child{

    margin-bottom:0;

}

.infoRowTwoColumns{

    display:grid;

    grid-template-columns:1fr 1fr;

    gap:30px;

}

#venueGoogleLink{

    display:block;

    margin-top:20px;

    text-align:center;

    font-size:18px;

    font-weight:bold;

    color:rgb(242, 181, 60);
}

.tagContainer{

    display:flex;

    flex-wrap:wrap;

    gap:8px;

    margin-top:8px;

    padding-right:60px;
}

.tag{

    background:#444;

    padding:6px 12px;

    border-radius:999px;

    font-size:14px;

    color:white;

    margin-bottom: 4px;
}

#venueDescription {
    margin-top: -34px;

}

.venueTypePrice {
    font-size: 22px;
    margin-bottom: 40px;
    margin-left: 0px;
    color:rgb(221, 152, 48);

}

.venueDistrict {
    color:rgb(255, 255, 255);
    font-size: 18px;

}

.venueAddress {
    margin-top: -22px;
    color:rgb(255, 255, 255);

}

.venueOpeningHours {
    margin-top: 40px;
    color:rgba(221, 152, 48, 0.859);
}


/* ===============================
        ABOUT / OM
================================ */

#aboutContent {
    display: none;
}

.settingsTab {

    font-size: 26px;

    font-weight: 700;

    color: #777;

    cursor: pointer;

}

.settingsTabs {

    display: flex;

    align-items: center;

    justify-content: space-between;

    margin-bottom: 15px;

}

.settingsTab.active {

    color: #f5ae35;

}

#aboutContent {
    padding-bottom: 100px;
}

#aboutContent h1 {
    font-size: 18px;
}

#aboutContent .filterCard p {
    font-size: 14px;
    line-height: 1.5;
}

#aboutContent .filterCard h3 {
    font-size: 16px;
}

#aboutContent .subtitle {
    font-size: 14px;
}
/* ===============================
        Splash Screen
================================ */

#splashScreen{

    position:fixed;

    inset:0;

    background:#111;

    display:flex;

    justify-content:center;
    align-items:center;

    z-index:99999;

    transition:opacity 1.5s ease;

}

#splashScreen.fadeOut{

    opacity:0;

    pointer-events:none;

}

#splashTitle{

    color:#D4AF37;

    font-size:2rem;

    font-weight:900;

    letter-spacing:8px;

    opacity:1;

}

@keyframes splashPop {

    0% {

        transform: scale(1);

    }

    100% {

        transform: scale(1.4);

    }

}

/*@keyframes splashPulse{

    0%{

        transform:scale(1);

    }

    40%{

        transform:scale(1.10);

    }

    70%{

        transform:scale(.98);

    }

    100%{

        transform:scale(1);

    }

} */

/* ===============================
   TOMMA FAVORITER OCH HISTORIK
================================ */

.emptyListMessage {

    text-align: center;

    color: #9A9A9A;

    padding: 40px 20px;

    font-size: 17px;

}

/* ===============================
        Intro View
================================ */

#introView{

    position:fixed;

    inset:0;

    background:#111;

    display:none;

    justify-content:center;
    align-items:center;

    opacity:1;

    z-index:9998;

}

#introView.fadeOut{

    opacity:0;

    pointer-events:none;

    transition:opacity 0.6s ease;

}

@keyframes pulseHint {

    0%,100%{

        opacity:.35;

    }

    50%{

        opacity:1;

    }

}

.tapToContinue{

    margin-top:60px;

    font-size:18px;

    color:#8d8d8d;

    animation:pulseHint 2s infinite;

}

.introContent{

    max-width:700px;

    margin:auto;

    padding:40px;

    text-align:center;

}

.introContent h1{

    font-size:42px;

    font-weight:800;

    line-height:1.1;

    margin-bottom:35px;

}

.introContent p{

    font-size:16px;

    line-height:1.6;

    color:#E6E6E6;

    margin:0 0 24px;

}

/* =======================================
   VISA FILTER OVAN SNURREN
   ======================================= */

   #activeFilters {

    min-height: 10px;

    margin-bottom: 16px;

    text-align: center;

    color: #828282;

    font-size: 14px;

    font-weight: 600;
}

/* ===============================
   STAD / INSTÄLLNINGAR
   =============================== */

.settingsCard h3{
    margin-bottom:10px;
}

.settingsLabel{
    display:block;
    color:#9A9A9A;
    font-size:16px;
    margin-bottom:14px;
}

.citySelect{
    width:100%;
    padding:14px 16px;
    border:1px solid rgba(255,255,255,.10);
    border-radius:12px;
    background:#141414;
    color:#F5F5F5;
    font-family:inherit;
    font-size:18px;
    cursor:pointer;
}

.citySelect:focus{
    outline:none;
    border-color:#D4AF37;
}


/* ===============================
   DYNAMISKA STADSDELSFILTER
   =============================== */

#districtFilters{
    display:flex;
    flex-direction:column;
    gap:10px;
}
